  <launch>

  <arg name="map_file"       default=" $(find tbmapping)/maps/TEST2.yaml"/>

  <!--  ****** Maps *****  -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="/map"/>
  </node>

  <include file="$(find tbmapping)/include/amcl.launch.xml">
    <arg name="scan_topic" value="scan"/>
    <arg name="use_map_topic" value="true"/>

  </include>

  </launch>